<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>309082952223-ss8r7f84v3ho4q040178o37voa0nrc8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309082952223-ss8r7f84v3ho4q040178o37voa0nrc8j</string>
	<key>API_KEY</key>
	<string>AIzaSyCswAdN2hRflvcL1_9bRvAP2wsFEXFNAPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>309082952223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.on3.FirePost</string>
	<key>PROJECT_ID</key>
	<string>firepost-c914e</string>
	<key>STORAGE_BUCKET</key>
	<string>firepost-c914e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:309082952223:ios:08380fa44be2ab14</string>
	<key>DATABASE_URL</key>
	<string>https://firepost-c914e.firebaseio.com</string>
</dict>
</plist>